<body>
  <div class="bigContainer">
    <div class="container">
      <div class="filterContainer">
        <mat-select
          class="select"
          placeholder="Filter"
          multiple
          [(ngModel)]="variableValue"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-select-trigger>
            {{ variableValue  ? variableValue[0] : "" | titlecase}}
            <span
              *ngIf="variableValue.length > 1"
              class="example-additional-selection"
            >
              (+{{ variableValue.length - 1 }}
              {{ variableValue?.length === 2 ? "other" : "others" | titlecase }})
            </span>
          </mat-select-trigger>
          <mat-option
            *ngFor="let variable of variables"
            [value]="variable"
            class="list"
            >{{ variable | titlecase }}</mat-option
          >
        </mat-select>

        <mat-select
          class="select"
          placeholder="Committee"
          (selectionChange)="onChange($event.value)"
          [(ngModel)]="committeesValue"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option
            *ngFor="let committee of committees"
            class="list"
            [value]="committee"
            >{{ committee }}</mat-option
          >
        </mat-select>

        <mat-select
          class="select"
          *ngIf="committeesValue || committeesValue != ''"
          placeholder="Block Number"
          [(ngModel)]="blockNumberValue"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option *ngFor="let blk of availableBlocks" [value]="blk">
            {{ blk }}</mat-option
          >
        </mat-select>

        <mat-select
          class="select"
          *ngIf="_role != normalRnMembers"
          placeholder="Role"
          [(ngModel)]="roleValue"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option *ngFor="let role of roles" class="list" [value]="role">{{
            role
          }}</mat-option>
        </mat-select>

        <mat-select
        *ngIf="_role != normalRnMembers"
          class="select"
          placeholder="Status"
          [(ngModel)]="statusValue"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option
            *ngFor="let status of status"
            class="list"
            [value]="status"
            >{{ status }}</mat-option
          >
        </mat-select>

        <mat-select
          class="select"
          *ngIf="_role == 'Admin'"
          [matBadgeHidden]="hidden"
            matBadge={{pendingNumber}}
            matBadgeSize="small"
            matBadgeOverlap="true"
            matBadgeColor="warn"
          placeholder="Request Status"
          [(ngModel)]="requestStatusValue"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option
            *ngFor="let status of requestStatus"
            class="list"
            [value]="status"
            >{{ status }}</mat-option
          >
        </mat-select>

        <button
          mat-button
          class="filter-btn"
          (click)="filter()"
          [disabled]="
            variableValue == defaultValue &&
            committeesValue == '' &&
            roleValue == '' &&
            statusValue == '' &&
            requestStatusValue == ''
          "
        >
          Filiter
        </button>

        <button mat-button class="filter-btn" (click)="clearFilter()">
          Clear
        </button>
      </div>
      <br />
      <div class="mat-elevation-z8">
        <mat-card class="accordion">
          <input
            matInput
            [(ngModel)]="searchValue"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Type user name to search"
            autocomplete="off"
            (input)="searchInput()"
            class="search"
            #input
          />
        </mat-card>

        <mat-divider></mat-divider>

        <div class="mat-elevation-z8">
          <div class="total">
            <mat-label
              >Total Number of Users: <b>{{ totalCount }}</b>
            </mat-label>

            <div class="buttonContainer">
              <button
                type="button"
                mat-button
                class="excel-btn"
                (click)="openExcelPreviewDialog()"
              >
                <mat-icon>cloud_download</mat-icon> Upload to Excel
              </button>

              <button
                type="button"
                mat-button
                class="excel-btn"
                (click)="refresh()"
              >
                Refresh
              </button>
            </div>
          </div>
        </div>

        <table
          mat-table
          [dataSource]="dataSource"
          multiTemplateDataRows
          class="mat-elevation-z8"
        >
          <ng-container
            matColumnDef="{{ column }}"
            *ngFor="let column of columnsToDisplay"
          >
            <th mat-header-cell *matHeaderCellDef>{{ column | titlecase }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.data[column] }}
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let element"
              [attr.colspan]="columnsToDisplay.length"
              class="expended-cell"
            >
              <div
                class="example-element-detail"
                [@detailExpand]="
                  element == expandedElement ? 'expanded' : 'collapsed'
                "
              >
                <button
                  mat-button
                  class="view-btn"
                  (click)="userInfo(element.id)"
                >
                  View Details
                </button>

                <button
                *ngIf="_role == 'Admin'"
                type="button"
                (click)="deactivate(element.id)"
                mat-button class="delete-btn">Deactivate</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplay"
            class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="
              expandedElement = expandedElement === element ? null : element
            "
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
          ></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter {{ input.value }}
            </td>
          </tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[10, 25, 100]"
          aria="Select page of users"
        ></mat-paginator>
      </div>
    </div>
  </div>
</body>
