<body>
  <div class="bigContainer">
    <div class="container">
      <div class="mat-elevation-z8">
        <div class="search">
          <input matInput [(ngModel)]="search" placeholder="Type Resident Name and Press Enter to Search" autocomplete="off"
            (keydown)="searchInput($event)">
        </div>
        <mat-divider></mat-divider>
        <div class="filter">
          <form class="filterContainer" [formGroup]="filter_form">
            <mat-select class="select" placeholder="Committee" [(ngModel)]="committeeControl" (selectionChange)=onChange($event.value)
              formControlName="committeeControl">
              <mat-option *ngFor="let committee of committees" [value]="committee">{{committee}}</mat-option>
            </mat-select>
            <mat-select class="select" placeholder="Block Number" [(ngModel)]="blkNumControl" formControlName="blkNumControl">
              <mat-option *ngFor="let blk of availableBlocks" [value]="blk">{{blk}}</mat-option>
            </mat-select>
            <mat-select class="select" placeholder="Age Group" [(ngModel)]="ageGpControl" formControlName="ageGpControl">
              <mat-option *ngFor="let ageGp of ageGps" [value]="ageGp">{{ageGp}}</mat-option>
            </mat-select>
          </form>

          <div class="buttonContainer">
            <button mat-button class="filter-btn" (click)="onClickFilter(filter_form.value)">
              <mat-icon>filter_list</mat-icon>filter
            </button>
            <button mat-button class="refresh-btn" (click)="refresh()">
              <mat-icon>cached</mat-icon>Refresh
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="mat-elevation-z8">
          <div class="total">
            <mat-label>Total Number of Residents: <b>{{totalCount}}</b> </mat-label>
            <div class="button_Container">
              <span mat-button class="excel-btn" (click)=openExcelExport()>
                <mat-icon>cloud_download</mat-icon>EXPORT

              </span>
              <button mat-button class="excel-btn" (click)=openExcelImport()>
                <mat-icon>attachment</mat-icon> UPLOAD
              </button>
            </div>
          </div>
        </div>

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="residentName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Resident Name</th>
            <td mat-cell *matCellDef="let element">{{element.data.residentName | titlecase}}</td>
          </ng-container>
          <ng-container matColumnDef="committee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Committee</th>
            <td mat-cell *matCellDef="let element">{{element.data.committee}}</td>
          </ng-container>
          <ng-container matColumnDef="blkNum">
            <th mat-header-cell *matHeaderCellDef>Block Number</th>
            <td mat-cell *matCellDef="let element">{{element.data.blkNum}}</td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" class="expended-cell">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <button mat-button class="view-btn" (click)="onClickViewDetails(element.id)">View Details</button>
                <button mat-button class="edit-btn" (click)="onClickEdit(element.id)">Edit</button>
                <button mat-button class="delete-btn" [disabled]="!canDeleteResident" (click)="delete(element.id)">Delete</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria="Select page of residents"></mat-paginator>
      </div>
    </div>
  </div>
</body>