<body>
  <div class="bigContainer">
    <div class="container">
      <div class="mat-elevation-z8">
        <mat-accordion class="accordion">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-label>Click for more</mat-label>
              <input matInput [(ngModel)]="search" (keyup)="applyFilter($event)" placeholder="Search" #input class="search">
            </mat-expansion-panel-header>

            <form class="filterContainer" [formGroup]="filter_form">
              <mat-select class="select" placeholder="Committee" formControlName="committeeControl">
                <mat-option *ngFor="let committee of committees" [value]="committee">{{committee}}</mat-option>
              </mat-select>

              <mat-select class="select" placeholder="Age Group" formControlName="ageGpcontrol">
                <mat-option *ngFor="let ageGp of ageGps" [value]="ageGp">{{ageGp}}</mat-option>
              </mat-select>
            </form>

            <div class="buttonContainer">
              <button mat-button class="excel-btn">Export to Excel</button>
              <button mat-button class="filter-btn">filter</button>
            </div>
          </mat-expansion-panel>

        </mat-accordion>

        <mat-divider></mat-divider>

        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length" class="expended-cell">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <button mat-button class="view-btn" (click)="onClickViewDetails(element)">View Details</button>
                <button mat-button class="edit-btn" (click)="onClickEdit()">Edit</button>
                <button mat-button class="delete-btn" (click)="onClickDelete()">Delete</button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria="Select page of residents"></mat-paginator>
      </div>
    </div>
  </div>
</body>