body{
  background-position: center;
  //background-color: #329bf1;
  background-color: #ffc89b;
  background-repeat: no-repeat;
  height: 100vh;
}


.container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
