body{
  background-color: rgb(255, 210, 159);
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
