<body>
    <div class="main-container">
        <div class="container">
            <h1>Update Resident Details</h1>
            <form [formGroup]="updateResidentForm">
                <label>Resident Name :</label>
                <input title="residentName" class='form-control' type="text" oninput="this.value = this.value.toUpperCase()" formControlName="residentNameControl">
                <label>Committee :</label>
                <select title="committee" class='form-control' formControlName="committeeControl">
                    <option *ngFor="let c of committees">
                        {{c}}
                    </option>
                </select>
                <label>Block Number :</label>
                <select title="blkNum" class='form-control' formControlName="blkNumControl">
                    <option value="" disabled selected hidden>Select Block</option>
                    <option *ngFor="let blk of availableBlocks" >
                        {{blk}}
                    </option>
                </select>
                <label>Unit Number :</label>
                <input title="unit" class='form-control' formControlName="unitNumControl">
                <label>Gender :</label>
                <select title="gender" class='form-control' formControlName="genderControl">
                    <option value="" disabled selected hidden>Select Gender</option>
                    <option *ngFor="let gen of genders">
                        {{gen}}
                    </option>
                </select>
                <label>Race :</label>
                <input title="race" class='form-control' formControlName="raceControl">
                <label>Age Group :</label>
                <select title="Age" class='form-control' placeholder="Select Age Group" formControlName="ageGpControl">
                    <option value="" disabled selected hidden>Select Age Group</option>
                    <option *ngFor="let age of ageGps">
                        {{age}}
                    </option>
                </select>
                <label>Expertise :</label>
                <input title="expertise" class='form-control' type="text" formControlName="expertiseControl">
                <!-- <label>Preferred Activity (Select All That Apply)</label>
                <div *ngFor="let activity of activities; let i=index">
                    <label>
                        <input type="checkbox" [value]="activity" />
                        {{activity}}
                    </label>
                </div> -->
            </form>
            <div class="button">
                <button type="submit" class="btn-success" style="margin: 5px;" (click)="updateResidentInfo(updateResidentForm.value)">Update</button>
                <button type="submit" class="btn-cancel"  style="margin: 5px;">Cancel</button>
            </div>
        </div>
    </div>
</body>
