<nav class="navbar fixed-top">
  <div class="title">Resident App</div>
  <ul class="open-menu" >
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="events">Events</a></li>
    <li>
      <div class="dropdown">
        <a >Resident Info</a>
        <div class="dropdown-content">
          <a href="#">Dashboard</a>
          <a href="residentinfo">View All Residents</a>
          <a href="addresident">Add A New Resident</a>
        </div>
      </div>
    </li>
    <li>
      <div class="dropdown"*ngIf="displayName">
        <p class="dropdownbtn">{{displayName}}</p>
        <div class="dropdown-content">
          <a routerLink="register">New Account</a>
          <a routerLink="allusers">All users</a>
          <a routerLink="myprofile">My profile</a>
          <a  class='user-type' (click)="openLogoutDialog()">
              Log out
          </a>
        </div>
      </div>
    </li>
  </ul>

  <div class="body">
    <input placeholder="." type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <div class="main-content-wrapper">
        <div class="sidebar-container">
        <a *ngIf="displayName" class="name"><strong>{{displayName}}</strong></a>
        <a routerLink="/">Home</a>
        <a routerLink="myprofile">My profile</a>
        <a routerLink="events">Events</a>
        <a>Resident Info</a>
        <a href="register">New Account</a>
        <a href="allusers">All users</a>
        <a>
        </a>
      </div>
    </div>
    </div>
  </div>
</nav>
