<nav class="navbar fixed-top">
  <div class="title">Resident App</div>
  <ul class="open-menu">
    <li><a href="#">Home</a></li>
    <li><a>Events</a></li>
    <li><a>Dashboard</a></li>
    <li>
      <div class="dropdown">
        <button class="dropdownbtn">
          <p class="name">name</p>
        </button>
        <div class="dropdown-content">
          <a class="user-type">Admin</a>
          <a href="register">Create Account</a>
          <a href="allusers">All users</a>
          <a routerLink="myprofile">My profile</a>
        </div>
      </div>
    </li>
  </ul>

  <div class="body">
    <input placeholder="." type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
    <label for="openSidebarMenu" class="sidebarIconToggle">
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
    </label>
    <div id="sidebarMenu">
      <div class="main-content-wrapper">
        <div class="container"></div>
        <a href="/">Home</a>
        <a>Events</a>
        <a>Dashboard</a>
        <a>
          <div class="dropdown">
            <button class="dropdownbtn">
              <p class="name">name</p>
            </button>
            <div class="dropdown-content">
              <a class="user-type">Admin</a>
              <a href="register">Create Account</a>
              <a href="allusers">All users</a>
              <a href="myprofile">My profile</a>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</nav>
