<body>
    <div>
        <h1>Input feedback from this Resident</h1>
        <form [formGroup]="surveyForm">
            <mat-form-field appearance="fill">
                <mat-label>Choose the date of survey</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <label>How can we regularly get your feedback and update you on what's happening in our RC and Taman
                Jurong? (Select All That Apply)</label>
            <div formArrayName="contact" *ngFor="let contact of contactFormArray.controls; let i = index">
                <label>
                    <input type="checkbox" [formControlName]="i">
                    {{contacts[i]}}
                </label>
            </div>
            <label>Mobile Number</label>
            <input title="mobileNumber" class="form-control" type="text" formControlName="mobileNum">
            <label>Email Address</label>
            <input title="email" class="form-control" type="text" formControlName="email">
            <label>What types of activities are you and your family interested in?(Select All That Apply)</label>
            <div formArrayName="activities" *ngFor="let activity of activitiesFormArray.controls; let j = index">
                <label>
                    <input type="checkbox" [formControlName]="j">
                    {{activitiesList[j]}}
                </label>
            </div>
            <label>Number of elderly in the family (aged 60 & above)</label>
            <input class="form-control" formControlName="numElderly">
            <label>No of adults in the family (aged between 26 - 59)</label>
            <input class="form-control" formControlName="numAdult">
            <label>No of youth in the family (aged between 13 - 25)</label>
            <input class="form-control" formControlName="numYouth">
            <label>No of young children in the family (aged 12 & below)</label>
            <input class="form-control" formControlName="numChild">
            <label>What are the jobs of all the people in the household who are working?</label>
            <input class="form-control" type="text" formControlName="job">
        </form>
        <div class="alert alert-success" *ngIf="submitStatus">
            <label class="success">{{submitStatus}}</label>
        </div>
        <div class="button">
            <button type="submit" class="btn-success" (click)="submit(surveyForm.value)">Submit</button>
            <button type="submit" class="btn-cancel">Cancel</button>
        </div>
    </div>
</body>