mat-label {
  display: flex;
  color: rgb(75, 75, 75);
  font-size: 15px;
}

.eye {
  position: absolute;
  margin: 5px 0 0 0;
  left: 75%;
}

body {
  background-position: center;
  background-color: #f2d9c5;
  //background-color: #e9004e;
  background-repeat: no-repeat;
  height: 100vh;
}

.img-web {
  position: absolute;
  right: 300px;
  height: 95vh;
  top: 5vh;
  overflow: hidden;
}

.img-phone {
  display: none;
}

.welcome-container {
  position: absolute;
  z-index: 100;
  height: 50vh;
  width: 50vw;
  display: block;
  right: 160%;
  top: 46.5%;
  transform: translate(-0%, -50%);
}

.welcome {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 6.5vw;
  height: 70px;
  padding: -30px 0px 0px 0px;
  display: flex;
  //border: 5px solid red;
}

.login-text {
  position: relative;
  color: rgb(248, 248, 248);
  font-size: 30px;
  display: flex;
  // width: 50vw;
  left: 0px;
  // bottom: -5px;
  padding: 0px 0px 0px 15px;
}

.login {
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(50%, -50%);
}

.forget {
  position: relative;
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  text-decoration: underline;
  //border: 2px solid red;
  margin-right: 210px;
  &:hover {
    cursor: pointer;
  }
}

.form {
  //card
  position: relative;
  z-index: 1;
  right: 5vw;
  background: #ffb477;
  border-radius: 10px;
  max-width: 380px;
  margin: 0 auto 100px;
  padding: 45px;
  max-height: 83vh;
  text-align: center;
  box-shadow: 0 9px 18px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  //font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.buttons{
  display: flex;
}

.form .login-btn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 15px 0 0px;
  text-transform: uppercase;
  outline: 0;
  background: #1b3c88;;
  width: auto;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .request-btn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px 134px 0 0px;
  text-transform: uppercase;
  outline: 0;
  background: #3d6ddb;
  width: auto;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form .login-btn:active {
  background: #395591;
}

.form span {
  font-size: 75px;
  color: #008094;
}

.message {
  color: rgb(255, 0, 0);
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.email::after {
  content: "*";
  font-size: 100px;
  color: black;
}

@media (max-width: 1000px) {
  body {
    position: absolute;
    background-color: #eb9c5c;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 14%);
    overflow: hidden;
  }

  .form {
    position: relative;
    left: 0vw;
    height: 90vh;
    overflow: hidden;
  }

  .welcome-container {
    position: absolute;
    z-index: 999;
    height: 50vh;
    width: 50vw;
    display: flex;
    right: 160%;
    top: 46.5%;
    transform: translate(-0%, -50%);
  }

  .welcome {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }

  .login-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  span {
    display: none;
  }

  .img-web {
    display: none;
  }

  .img-phone {
    display: block;
    position: absolute;
    z-index: -1;
    left: 10%;
    bottom: -.2%;
    height: 130%;
    width: 80%;
  }

  .buttons{
    display: block;
  }

}


