<body>
  <div class="container">

    <img src="/assets/images/people/login-web.png" alt="" class="img-web">

    <div class="login">
      <div class="form">
        <div class="welcome-container">
          <h1 class="welcome">Welcome back!</h1>
          <h6 class="login-text">Login to continue</h6>
        </div>
        <form class="login-form">
          <span class="material-icons">lock</span>
          <input type="text" placeholder="email*" class="email" required [(ngModel)]="email" [ngModelOptions]="{standalone: true}"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
          <input [type]="hide ? 'password' : 'text'" placeholder="password*" class="password" [(ngModel)]="password" required [ngModelOptions]="{standalone: true}"/>
          <button type="button" class="eye" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
          <a href="forgetpassword"
            class="forget">Forget?
          </a>
          <p class="message">{{message}}</p>
          <button class="login-btn" type="submit" (click)="errorMessage()" >login</button>

          <img src="/assets/images/people/Login-mobile.png" alt="" class="img-phone">
        </form>
      </div>
    </div>
  </div>
</body>
