// .cap-container{
//   display: none;
// }

body{
  background-position: center;
  // background-color: #F2D9C5;
  background-color: #eb9c5c;
  background-repeat: no-repeat;
  height: 100vh;
}

.img-web{
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%,-50%);
  height: 105vh;
  width: 80vw;
}

.img-phone{
  display: none;
}

.welcome-container{
  position: absolute;
  top: 10%;
  left: 5%;
  transform: translate(100%, -50%);
  z-index: 100;

}

.welcome{
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 5.5vw;
  text-align: flex-start;
  height: 100px;
  width: 70vw;
  padding: 0px 0px 0px 0px;
  //border: 5px solid red;
}

.verify{
  text-decoration: underline;
  display: flex;
  cursor: pointer;
  &:active{
    color: rgb(255, 94, 0);
  }
}

.login {
  position: absolute;
  top: 55%;
  left: 60%;
  transform: translate(50%, -50%);
}


.form  {   //card
  //position: absolute;
  z-index: 1;
  background: #f2d9c5;
  border-radius: 10px;
  max-width: 380px;
  margin: 0 auto 100px;
  padding: 45px;
  height: 480px;
  text-align: center;
  box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 20px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 14px;
  //font-family: 'Comfortaa', cursive;
}

.form input:focus {
  background: #dbdbdb;
}

.button{
  position: relative;
  text-align: center;
  display: block;
  //left: -5px;
  bottom: 40px;
  cursor: pointer;
}

.form button { //login button
  margin: 80px 5px 0px;
  text-transform: uppercase;
  outline: 0;
  background-color: transparent;
  width: auto;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px 5px 15px ;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  &:disabled{
    background: #5d5d5f5b;
  }
}

.button .back{
  color: black;
  &:hover{
    text-decoration: underline;
  }
}

.form .cancel-button{
  background: #4b6cb7;
}


// .form button:active {
//   background: #fd361b;
// }

.form .cancel-button:active {
  background: #1b75fd;
}

.form span {
  font-size: 75px;
  color: #008094;;
}

.message{
  position: absolute;
  color: rgb(255, 0, 0);
  font-size: 17px;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}

.email::after{
  content: "*";
  font-size: 100px;
  color: black;
}

@media(max-width: 1000px){
  body{
    position: absolute;
    background-color: #EB9C5C;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }


  .login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 14%);
    overflow: hidden;
  }

  .form {
    height: 83vh;
    overflow: hidden;
  }

  .form input {
    position: relative;
    top: -5vh;
    outline: 0;
    background: #f2f2f2;
    width: 80vw;
    display: flex;
    justify-content: flex-start;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 14px;
  }

  .welcome-container{
    position: absolute;
    top: 17%;
    left: 6%;
    transform: translate(100%, -50%);
    z-index: 100;
    display: none;
  }

  .welcome{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 13vw;
    text-align: flex-start;
    height: 100px;
    width: 90vw;
    padding: 0px 0px 0px 0px;
    text-align: left;
    word-spacing: 0px;
    //border: 5px solid red;
  }

  .login-text{
    position: absolute;
    color: rgb(248, 248, 248);
    font-size: 6vw;
    width: 90vw;
    padding: 50px 0px 0px 6px;
  }

  .login-form{
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  span{
    display: none;
  }

  .img-web{
    display: none;
  }


  .img-phone{
  display: flex;
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 105vh;
  width: 80vw;
  z-index: -999;
  }

  .message{
    color: rgb(255, 0, 0);
    left: -20px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    position: absolute;
    //border: 2px solid red;
  }

  .button{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    left: -10px;
    }

}
