<body>
  <div class="container">

    <img src="/assets/images/people/Reset Password.png" alt="" class="img-web">

    <div class="welcome-container">
      <p class="welcome">Reset Password</p>
      <!-- <h6 class="login-text">Admin only</h6> -->
    </div>

      <div class="login">
        <div class="form">
          <form class="login-form">
            <span class="material-icons">mail</span>
            <input type="text" [(ngModel)]="email" placeholder="email to reset password*" class="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required />
            <app-otp></app-otp>
            <p class="message">{{message}}</p>
            <div class="button">
              <button type="button" routerLink="/">Cancel</button>
              <button type="button" class="cancel-button" [disabled]="email==' '">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
</body>
