<div >
  <!-- <p>click update to update</p> -->
</div>
<div mat-dialog-actions>
  <button type="button" mat-button (click)="onNoClick()">cancel</button>
  <button type="button" mat-button cdkFocusInitial class="dlt-btn" *ngIf="!isAccept && isUpdate" (click)="update()">{{message}} </button>
  <button type="button" mat-button cdkFocusInitial class="dlt-btn" *ngIf="isAccept == true && !isUpdate"  (click)="accept()">{{message}}</button>
  <button type="button" mat-button cdkFocusInitial class="dlt-btn" *ngIf="isAccept == false && !isUpdate"  (click)="reject()">{{message}}</button>

</div>
