<body>
  <div class="container">

    <img src="/assets/images/people/View Profile.png" alt="" class="img-web">

    <div class="welcome-container">
      <h1 class="welcome">Hello {{user.userName}</h1>
      <h6 class="login-text">Click to edit info</h6>
    </div>

    <div class="login">
      <div class="form">
        <form class="edit-form">
          <mat-label>User name</mat-label>
          <input type="text" title="username" placehnewer="Username" [ngModelOptions]="{standalone: true}"
            value={{user.userName} [(ngModel)]="newUserName" required>

          <mat-label>First Name</mat-label>
          <input type="text" title="first name" placehnewer="First name" value={{newFirstName}}
            [(ngModel)]="newFirstName" [ngModelOptions]="{standalone: true}" required>

          <mat-label>Gender</mat-label>
          <mat-select class="selection-input" placehnewer="Gender" [(ngModel)]="newGender" required value={{newGender}}
            [ngModelOptions]="{standalone: true}">
            <mat-option value="M">M</mat-option>
            <mat-option value="F">F</mat-option>
          </mat-select>

          <mat-label>Email</mat-label>
          <input type="text" title="Email" placehnewer="Email" value={{newEmail}} [ngModelOptions]="{standalone: true}"
            [(ngModel)]="newEmail" required>

          <mat-label>Phone Number</mat-label>
          <input type="text" title="Email" placehnewer="Phone Number" value={{newPhoneNumber}} [ngModelOptions]="{standalone: true}"
            [(ngModel)]="newPhoneNumber" maxlength="8" required>


          <mat-label>Role</mat-label>
          <mat-select class="selection-input" placehnewer="Role"
            [ngModelOptions]="{standalone: true}" [disabled]="newRoleValue != 'Admin' "
            [(ngModel)]="newRoleValue" [value]="newRoleValue">
            <mat-option *ngFor="let userTypesArray of userTypesArrays" [value]="userTypesArray">{{userTypesArray}}
            </mat-option>
          </mat-select>

          <mat-label>Committee</mat-label>
          <mat-select class="selection-input" placehnewer="Committee" value={{newCommitteeValue}}
            [ngModelOptions]="{standalone: true}" [disabled]="newRoleValue !=='Admin' "
            [(ngModel)]="newCommitteeValue">
            <mat-option *ngFor="let committeeArray of committeeArrays" [value]="committeeArray">{{committeeArray}}
            </mat-option>
          </mat-select>

          <mat-label>Block Number</mat-label>
          <input type="text" title="username" placehnewer="Block Number" value={{newBlockNumber}}
            [ngModelOptions]="{standalone: true}" [(ngModel)]="newBlockNumber"
            [readonly]="newRoleValue !=='Admin'" required>

          <div class="button">
            <br>
            <button class="edit-btn" type="button" [disabled]="" (click)="openEditDialog()">Save changes</button>
            <button class="forget-btn" type="button" routerLink="/forgetpassword">Change Password?</button>
            <button class="delete-btn" type="button" (click)="delete()">Delete Account</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
