<body>
  <div class="container">
    <img
      src="/assets/images/people/Create Account.png"
      alt=""
      class="img-web"
    />

    <div class="welcome-container">
      <h1 class="welcome">Create Account</h1>
      <h6 class="login-text">Admin only</h6>
    </div>

    <div class="login">
      <div class="form">
        <mat-vertical-stepper [linear]="true" #stepper>
          <!-- first block -->
          <mat-step
            [stepControl]="firstFormGroup"
            label="Username and Password"
            errorMessage="There are empty fields"
          >
            <form [formGroup]="firstFormGroup">
              <mat-label>Email
                <p *ngIf="isExistUserName == true" class="limit">(Email taken)</p>
              </mat-label>
              <input
                matInput
                placeholder="Email"
                (input)="checkUserExist()"
                [(ngModel)]="email"
                type="text"
                formControlName="emailCtrl"
                required
              />

              <mat-label>Username
                <p *ngIf="isExistUserName == true" class="limit">(Username taken)</p>
              </mat-label>
              <input
                matInput
                placeholder="Username"
                (input)="checkUserExist()"
                [(ngModel)]="userName"
                maxlength="10"
                type="text"
                formControlName="usernameCtrl"
                required
              />

              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="First name"
                [(ngModel)]="firstName"
                type="text"
                formControlName="firstNameCtrl"
                required
              />

              <mat-label>Gender</mat-label>
              <mat-select
                class="select"
                placeholder="Gender"
                [(ngModel)]="gender"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-option value="M">M</mat-option>
                <mat-option value="F">F</mat-option>
              </mat-select>

              <mat-label>Phone Number</mat-label>
              <input
                matInput
                placeholder="Phone Number"
                [(ngModel)]="phoneNumber"
                type="tel"
                maxlength="8"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                formControlName="phoneNumberCtrl"
                required
              />

              <mat-label
                >Password<mat-icon
                  *ngIf="this.strengthColor == 'red'"
                  aria-hidden="false"
                  class="warning-icon"
                  >warning</mat-icon
                >
              </mat-label>
              <input
                matInput
                placeholder="Password"
                [(ngModel)]="password"
                (keyup)="checkPasswordStrength($event)"
                [type]="hide ? 'password' : 'text'"
                formControlName="passwordCtrl"
                required
              />

              <mat-progress-bar
                mode="determinate"
                Class="progress-bar"
                [value]="strength"
                [color]="strengthColor"
                *ngIf="this.password.length > 0"
              ></mat-progress-bar>

              <p
                class="password-strenght"
                [style.color]="strengthColor"
                *ngIf="this.password.length > 0"
                matTooltip="Minium 8 character. Include uppercase, numbers and special characters"
                matTooltipPosition="below"
                matTooltipClass="tooltip-class"
                #tooltip="matTooltip"
              >
                Strength: {{ strengthMessage }}
              </p>

              <mat-label>Repeat Password</mat-label>
              <input
                matInput
                placeholder="Repeat Password"
                [(ngModel)]="repeatPassword"
                [type]="hide ? 'password' : 'text'"
                type="password"
                formControlName="repeatPasswordCtrl"
                required
              />

              <button
                class="show"
                disableRipple="true"
                mat-icon-button
                matSuffix
                type="button"
                (click)="hide = !hide"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide"
              >
                {{ hide ? "Show Password" : "Hide Password" }}
              </button>

              <p class="message" [style.color]="messageColor">{{ message }}</p>
              <button
                class="next-btn"
                mat-button
                type="button"
                (click)="getErrorMessage()"
                [disabled]="!this.firstFormGroup.valid"
              >
                Next
              </button>
            </form>

            <!-- second block -->
          </mat-step>

          <mat-label>Role</mat-label>
          <mat-step
            label="Role"
            errorMessage="User type is required"
            [stepControl]="secondFormGroup"
          >
            <form [formGroup]="secondFormGroup">
              <mat-select
                class="select"
                placeholder="Role"
                [(ngModel)]="roleValue"
                formControlName="roleCtrl"
              >
                <mat-option *ngFor="let role of roles" [value]="role">{{
                  role
                }}</mat-option>
              </mat-select>

              <div>
                <button mat-button matStepperPrevious type="button">
                  Previous
                </button>
                <button
                  mat-button
                  matStepperNext
                  type="button"
                  class="next"
                  (click)="getErrorMessage()"
                >
                  Next
                </button>
              </div>
            </form>
          </mat-step>

          <!-- Third block -->
          <mat-step
            label="Committee and block number"
            errorMessage="Committe and block is required"
          >
            <form [formGroup]="ThirdFormGroup">
              <mat-label>Committee</mat-label>
              <mat-select
                class="select"
                placeholder="committee"
                [(ngModel)]="committeesValue"
                (ngModelChange)="onChange($event)"
                [ngModelOptions]="{ standalone: true }"
              >
                <mat-option
                  *ngFor="let committee of committees"
                  [value]="committee"
                  >{{ committee }}</mat-option
                >
              </mat-select>

              <mat-label>Block Number</mat-label>
              <mat-select
                class="select"
                placeholder="Block Number"
                [(ngModel)]="blockNumberValue"
                [ngModelOptions]="{ standalone: true }"
              >
              <mat-option
                *ngFor="let blockNumber of availableBlocks"
                [value]="blockNumber"
                >{{ blockNumber }}</mat-option>
              </mat-select>

            </form>
            <p class="message" [style.color]="messageColor">{{ message }}</p>
            <div>
              <button mat-button matStepperPrevious type="button">
                Previous
              </button>
              <button
                mat-button
                type="button"
                class="next"
                (click)="createNewuser()"
                [disabled]="!blockNumberValue"
              >
                Create
              </button>
            </div>
          </mat-step>
        </mat-vertical-stepper>

        <button mat-button class="cancel-button" (click)="back()">back</button>
      </div>
    </div>
  </div>
</body>
